* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  background-color: #ddd;
  height: 100vh;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

textarea {
  margin-top: 2rem;
  width: 20rem;
  height: 5rem;
  padding: 0.5rem;
  border-radius: .5rem;
}

form div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p {
  padding: 1rem;
  margin: 2px;
  font-weight: bold;
}

button {
  margin-top: 1rem;
  padding: .5rem;
  border: none;
  border-radius: .5rem;
  background-color: darkblue;
  color: #ddd;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

#alternate-text {
  position: absolute;
  top: 27.2rem;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}